

    <!-- navbar start -->
    {% extends "base.html" %}  
    {% block content %} 
<h1>Signup PAGE</h1>
<div class="col-lg-5 shadow mx-auto p-0">
<div class="alert alert-success">
  <h2>Create User</h2>
</div>
<div class="p-4">
  <form  method ="POST" action="{% url 'signup' %}">
    {% csrf_token %}
   <!-- {% if form.errors %}
    <div style="color:red; margin-bottom:10px;">
      {{form.errors}}
    </div>
    {%endif %} -->
    {{form}}
    <hr>
    <input  class="btn btn-success" type="submit"value="Create Account">
  </form>
</div>



</div>
{% endblock %}
   

    